body {

}

#site_body {
    width: 780px;
    margin-left:auto;
    margin-right:auto;
}

#site_header {
    width: 780px;
}

#site_header h1{
    font-size:38pt;
}

#site_footer{
    width: 100%;
    clear: both;
}

#site_navi{
    float:left;
    width: 150px;
}

#site_contents{
    float:right;
    width:600px;
}
