@charset "utf-8";

body {
    width: 780px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    /* background-image: url(/img/bg.png); */
    /* background-repeat: repeat-x; */
}

#site_body {
}

#site_header {
    height: 207px;
    background-image: url(/img/bg.png);
    background-repeat: repeat-x;
}

#header_bannar{
    height:83px;
    line-height:83px;
}

#header_bannar h1{
    color: #FFFFFF;
    padding-left:15px;
    font-size:24pt;
    font-weight:normal;
}

/* #site_footer{ */
/*     width: 100%; */
/*     position: absolute; */
/*     bottom:0; */
/*     clear: both; */
/* } */

#right{
    text-align:right;
}

#site_navi{
}

#site_navi li{
    display: inline;
}

#site_navi li:hover{
   background-position: center top;
}

#site_navi li a{
    width: 140px;
    height: 69px;
    line-height: 68px;
    float: left;
    text-align: center;
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
    background-image: url(/img/menu_r.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

#site_navi li a:hover{
   background-position: center top;
}
#site_navi a:visited{
    color: #FFF
}

#author{
    hight:69px;
    line-height:100px;
    color:#FFF;
    float:right;
    padding-right:30px;
}

#author a:link{
    color:#FFF;
}

#author a:visited{
    color:#FFF;
}

#site_contents{
    width:600px;
    margin-left:auto;
    margin-right:auto;
}

p.notation{
    font-size:12px;
}
