@charset "utf-8"

html, body {
    height:100%;
    margin:0;
    padding:0;
}

div#site_body {
    width: 780px;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    min-height:100%;
    height: 1024px;
}

* html div#site_body{
    height:1000px;
    padding-bottom:1em;
}

#site_header {
    width: 780px;
}

#site_header h1{
    margin-bottom: 20px;
    margin-height: 20px;
    font-size:42pt;
}

#site_footer{
    width: 100%;
    position: absolute;
    bottom:0;
    clear: both;
}

#right{
    text-align:right;
}

#site_navi{
    float:left;
    padding-left:20px;
    width: 150px;
    height:926px;
}

#site_contents{
    float:right;
    width:600px;
    height: 926px;
}

p.notation{
    font-size:12px;
}
